@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=82475C75-B83E-4930-90E8-32BFCDAC1F33

npmScopes:
 fortawesome:
   npmAlwaysAuth: true
   npmRegistryServer: "https://npm.fontawesome.com/"
   npmAuthToken: "82475C75-B83E-4930-90E8-32BFCDAC1F33"